<%- include template/header.ejs%>
<main class="page-content">
    <div class="container-fluid">
      <h2>Code Goes after here</h2>
      <hr>
      </div>
    </div>

  </main>
<%- include template/footer.ejs%>