<%- include template/header.ejs %>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="/home" class="list-group-item list-group-item-action">Dashboard</a>
              <a href="/setting" class="list-group-item list-group-item-action">Change Profile</a>
              <a href="#" class="list-group-item list-group-item-action active">Change Password</a>
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Change Password</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form method="POST" action="/users/change-password" autocomplete="OFF">
                          <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Old Password</label> 
                            <div class="col-8">
                              <input id="username" name="old" placeholder="Your old password" class="form-control here" required="required" type="password">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">New Password</label> 
                            <div class="col-8">
                              <input id="name" name="new" placeholder="New Password" class="form-control here" type="password">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Retype new Password</label> 
                            <div class="col-8">
                              <input id="lastname" name="rnew"placeholder="Retype new Password" class="form-control here" type="password">
                            </div>
                          </div>
                           <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <button name="submit" type="submit" class="btn btn-primary">Update My Password</button>
                            </div>
                          </div>
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>