<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" data-bs-hover-animate="wobble">Callestasia Playground</a><button class="navbar-toggler float-right" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#">Intro</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background:url('assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:100%;">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="mx-auto header-content">
                        <h1 class="mb-5">Callestasia Playground is an app for learning Programming/IT Security that will help you to choice which path you will get seriously.</h1><a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="#features"
                            data-bs-hover-animate="tada">Take a journey</a></div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div data-bs-hover-animate="rubberBand" class="device" style="background-image:url('assets/img/iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="assets/img/meeeeeeeeeeeeeeeeeeeeeeee.jpg"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-mockup"></div>
                </div>
            </div>
        </div>
    </header>
    <section id="features" class="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Unlimited Features, Unlimited Fun</h2>
                <p class="text-muted">Check this out. Our Service plan</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div data-aos="zoom-in" class="device" style="background-image:url('assets/img/iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="assets/img/meeeeeeeeeeeeeeeeeeeeeeee.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6" data-aos="fade">
                                <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Flexibel</h3>
                                    <p class="text-muted">Our platform its work well in many system</p>
                                </div>
                            </div>
                            <div class="col-lg-6" data-aos="fade">
                                <div class="feature-item"><i class="icon-emotsmile text-primary"></i>
                                    <h3>Good Service</h3>
                                    <p class="text-muted">Our administration it's so friendly, Feel enjoy to asking, And get experience with us</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div data-aos="fade" class="feature-item"><i class="icon-present text-primary"></i>
                                    <h3>Free service</h3>
                                    <p class="text-muted">Wanna try our service? We have a free plan for you.</p>
                                </div>
                            </div>
                            <div class="col-lg-6" data-aos="fade">
                                <div class="feature-item"><i class="icon-lock text-primary"></i>
                                    <h3>Secure</h3>
                                    <p class="text-muted">Before we lauch this, We test many things, And we said it's secure to use.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta" style="background-image:url('assets/img/bg-cta.jpg');">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start Learning.<br></h2><a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="/auth" data-bs-hover-animate="wobble">authentication</a></div>
        </div>
        <div class="overlay"></div>
    </section>
    <section data-aos="fade" id="contact" class="contact bg-primary">
        <div class="container">
            <h2><span>We&nbsp;</span><i class="fa fa-heart" data-bs-hover-animate="jello"></i><span>&nbsp;new friends!</span></h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter"><a href="#" data-bs-hover-animate="swing"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item social-facebook"><a href="#" data-bs-hover-animate="swing"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item social-google-plus"><a href="#" data-bs-hover-animate="swing"><i class="fa fa-github-alt"></i></a></li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="container">
            <p data-bs-hover-animate="pulse">©&nbsp;Callestasia 2019. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>